# File: .github/workflows/repo-sync.yml
name: Repo Sync
on: 
  schedule: 
  - cron: '0 17 */2 * *'
  workflow_dispatch: 
  watch: 
   types: started 
  repository_dispatch:
    types: Repo Sync
jobs: 
 repo-sync: 
     env: 
       PAT: ${{ github.event.client_payload.PAT || secrets.PAT }} #此处PAT需要申请
     runs-on: ubuntu-latest 
     if: github.event.repository.owner.id == github.event.sender.id 
     steps: 
      - uses: actions/checkout@v2 
        with: 
          persist-credentials: false 
           
      - name: Repo Sync
        uses: repo-sync/github-sync@v2 
        if: env.PAT 
        with: 
          source_repo: "https://github.com/Zy143L/wskey.git" # Zy143L
          source_branch: "main" 
          destination_branch: "Zy143L" # 按照自己仓库分支名称修改
          github_token: ${{ github.event.client_payload.PAT || secrets.PAT }}
              
      - name: Repo Sync
        uses: repo-sync/github-sync@v2 
        if: env.PAT 
        with: 
          source_repo: "https://github.com/qitoqito/kedaya.git" # kedaya
          source_branch: "main" 
          destination_branch: "kedaya" # 按照自己仓库分支名称修改
          github_token: ${{ github.event.client_payload.PAT || secrets.PAT }} 
          
      - name: Repo Sync
        uses: repo-sync/github-sync@v2 
        if: env.PAT 
        with: 
          source_repo: "https://github.com/JDHelloWorld/jd_scripts.git" # HW
          source_branch: "main" 
          destination_branch: "JDHelloWorld" # 按照自己仓库分支名称修改
          github_token: ${{ github.event.client_payload.PAT || secrets.PAT }}  
               
      - name: Repo Sync
        uses: repo-sync/github-sync@v2 
        if: env.PAT 
        with: 
          source_repo: "https://github.com/star261/jd.git" # 星星
          source_branch: "main" 
          destination_branch: "star261" # 按照自己仓库分支名称修改
          github_token: ${{ github.event.client_payload.PAT || secrets.PAT }} 
                
      - name: Repo Sync
        uses: repo-sync/github-sync@v2 
        if: env.PAT 
        with: 
          source_repo: "https://github.com/smiek2121/scripts.git" # 青蛙
          source_branch: "master" 
          destination_branch: "smiek2221" # 按照自己仓库分支名称修改
          github_token: ${{ github.event.client_payload.PAT || secrets.PAT }}       
     
          
      - name: Repo Sync
        uses: repo-sync/github-sync@v2 
        if: env.PAT 
        with: 
          source_repo: "https://github.com/ccwav/QLScript2.git" # CC
          source_branch: "main" 
          destination_branch: "ccwav" # 按照自己仓库分支名称修改
          github_token: ${{ github.event.client_payload.PAT || secrets.PAT }} 
          
      - name: Repo Sync
        uses: repo-sync/github-sync@v2 
        if: env.PAT 
        with: 
          source_repo: "https://github.com/Aaron-lv/sync.git" # 小小
          source_branch: "jd_scripts" 
          destination_branch: "Aaron-lv" # 按照自己仓库分支名称修改
          github_token: ${{ github.event.client_payload.PAT || secrets.PAT }}
          
      - name: Repo Sync
        uses: repo-sync/github-sync@v2 
        if: env.PAT 
        with: 
          source_repo: "https://github.com/okyyds/duck.git" # 小埋
          source_branch: "master" 
          destination_branch: "mmnvnmm" # 按照自己仓库分支名称修改
          github_token: ${{ github.event.client_payload.PAT || secrets.PAT }} 
          
      - name: Repo Sync
        uses: repo-sync/github-sync@v2 
        if: env.PAT 
        with: 
          source_repo: "https://github.com/Ariszy/Private-Script.git" # 执意
          source_branch: "master" 
          destination_branch: "Ariszy" # 按照自己仓库分支名称修改
          github_token: ${{ github.event.client_payload.PAT || secrets.PAT }} 
                       
      - name: Repo Sync
        uses: repo-sync/github-sync@v2 
        if: env.PAT 
        with: 
          source_repo: "https://github.com/curtinlv/JD-Script.git" # 皮卡车
          source_branch: "main" 
          destination_branch: "curtinlv" # 按照自己仓库分支名称修改
          github_token: ${{ github.event.client_payload.PAT || secrets.PAT }} 
          
      - name: Repo Sync
        uses: repo-sync/github-sync@v2 
        if: env.PAT 
        with: 
          source_repo: "https://github.com/walle1798/WALL.E.git" # magic
          source_branch: "master" 
          destination_branch: "Meagic" # 按照自己仓库分支名称修改
          github_token: ${{ github.event.client_payload.PAT || secrets.PAT }} 
              
      - name: Repo Sync
        uses: repo-sync/github-sync@v2 
        if: env.PAT 
        with: 
          source_repo: "https://github.com/zero205/JD_tencent_scf.git" # 刘大
          source_branch: "main" 
          destination_branch: "zero205" # 按照自己仓库分支名称修改
          github_token: ${{ github.event.client_payload.PAT || secrets.PAT }} 
                    
      - name: Repo Sync
        uses: repo-sync/github-sync@v2 
        if: env.PAT 
        with: 
          source_repo: "https://github.com/jiulan/platypus.git" # jiulan
          source_branch: "main" 
          destination_branch: "jiulan" # 按照自己仓库分支名称修改
          github_token: ${{ github.event.client_payload.PAT || secrets.PAT }} 
                
      - name: Repo Sync
        uses: repo-sync/github-sync@v2 
        if: env.PAT 
        with: 
          source_repo: "https://github.com/Tsukasa007/my_script.git" # T
          source_branch: "master" 
          destination_branch: "Tsukasa007" # 按照自己仓库分支名称修改
          github_token: ${{ github.event.client_payload.PAT || secrets.PAT }}   
                      
      - name: Repo Sync
        uses: repo-sync/github-sync@v2 
        if: env.PAT 
        with: 
          source_repo: "https://github.com/KingRan/KR.git" # KR
          source_branch: "main" 
          destination_branch: "KingRan" # 按照自己仓库分支名称修改
          github_token: ${{ github.event.client_payload.PAT || secrets.PAT }}       
          
      - name: Repo Sync
        uses: repo-sync/github-sync@v2 
        if: env.PAT 
        with: 
          source_repo: "https://github.com/cdle/carry.git" # 傻妞
          source_branch: "main" 
          destination_branch: "cdle" # 按照自己仓库分支名称修改
          github_token: ${{ github.event.client_payload.PAT || secrets.PAT }} 
                    
      - name: Repo Sync
        uses: repo-sync/github-sync@v2 
        if: env.PAT 
        with: 
          source_repo: "https://github.com/pangbai6/pangbai.git" # pangbai
          source_branch: "main" 
          destination_branch: "pangbai" # 按照自己仓库分支名称修改
          github_token: ${{ github.event.client_payload.PAT || secrets.PAT }} 
          
      - name: Repo Sync
        uses: repo-sync/github-sync@v2 
        if: env.PAT 
        with: 
          source_repo: "https://github.com/gys619/Absinthe.git" # gys619
          source_branch: "main" 
          destination_branch: "gys619" # 按照自己仓库分支名称修改
          github_token: ${{ github.event.client_payload.PAT || secrets.PAT }} 
          
      - name: Repo Sync
        uses: repo-sync/github-sync@v2 
        if: env.PAT 
        with: 
          source_repo: "https://github.com/zll2317463866/tiger.git" # zll
          source_branch: "main" 
          destination_branch: "zll2317463866" # 按照自己仓库分支名称修改
          github_token: ${{ github.event.client_payload.PAT || secrets.PAT }} 
         
      - name: Repo Sync
        uses: repo-sync/github-sync@v2 
        if: env.PAT 
        with: 
          source_repo: "https://github.com/yuannian1112/jd_scripts.git" # 怨念
          source_branch: "main" 
          destination_branch: "yuannian1112" # 按照自己仓库分支名称修改
          github_token: ${{ github.event.client_payload.PAT || secrets.PAT }}
           
      - name: Repo Sync
        uses: repo-sync/github-sync@v2 
        if: env.PAT 
        with: 
          source_repo: "https://github.com/okyyds/yydspure.git" # 可达鸭纯净库
          source_branch: "master" 
          destination_branch: "yydspure" # 按照自己仓库分支名称修改
          github_token: ${{ github.event.client_payload.PAT || secrets.PAT }}      
                     
      - name: Repo Sync
        uses: repo-sync/github-sync@v2 
        if: env.PAT 
        with: 
          source_repo: "https://github.com/okyyds/yyds.git" # 可达鸭助力池
          source_branch: "master" 
          destination_branch: "yyds" # 按照自己仓库分支名称修改
          github_token: ${{ github.event.client_payload.PAT || secrets.PAT }}
                     
      - name: Repo Sync
        uses: repo-sync/github-sync@v2 
        if: env.PAT 
        with: 
          source_repo: "https://github.com/shufflewzc/faker2.git" # faker2助力池
          source_branch: "main" 
          destination_branch: "faker2" # 按照自己仓库分支名称修改
          github_token: ${{ github.event.client_payload.PAT || secrets.PAT }}  
          
      - name: Repo Sync
        uses: repo-sync/github-sync@v2 
        if: env.PAT 
        with: 
          source_repo: "https://github.com/shufflewzc/faker3.git" #faker3纯净库
          source_branch: "main" 
          destination_branch: "faker3" # 按照自己仓库分支名称修改
          github_token: ${{ github.event.client_payload.PAT || secrets.PAT }}
          
      - name: Repo Sync
        uses: repo-sync/github-sync@v2 
        if: env.PAT 
        with: 
          source_repo: "https://github.com/leafTheFish/DeathNote.git" #leaf
          source_branch: "main" 
          destination_branch: "leaf" # 按照自己仓库分支名称修改
          github_token: ${{ github.event.client_payload.PAT || secrets.PAT }}
          
      - name: Repo Sync
        uses: repo-sync/github-sync@v2 
        if: env.PAT 
        with: 
          source_repo: "https://github.com/LingFeng0918/LF_JD.git" #linfeng
          source_branch: "main" 
          destination_branch: "lingfeng" # 按照自己仓库分支名称修改
          github_token: ${{ github.event.client_payload.PAT || secrets.PAT }}
          
      - name: Repo Sync
        uses: repo-sync/github-sync@v2 
        if: env.PAT 
        with: 
          source_repo: "https://hub.fastgit.xyz/hyzaw/AllJDScripts.git" #ddo
          source_branch: "master" 
          destination_branch: "ddo" # 按照自己仓库分支名称修改
          github_token: ${{ github.event.client_payload.PAT || secrets.PAT }}
          
